header {
    color: #771479;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    text-align: center;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #771479;
  }

  #search {
    padding:10px;
    background-color: rgb(224, 224, 224);
  }

  #forecast {
    background-color: lightsteelblue;
  }